<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="Lab5ConnectionString" connectionString="Data Source=SEANS-PC;Initial Catalog=Lab5;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Lab8ConnectionString" connectionString="Data Source=SEANS-PC;Initial Catalog=Lab8;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
  <add name="ATM2ConnectionString" connectionString="Data Source=seans-pc;Initial Catalog=ATM2;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
